<!DOCTYPE html>
<html lang="es-Es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
        <title>Contacto | Animalandia</title>
        <link type="image/x-icon" href="../assets/img/tips/icon-huella.svg" rel="icon">
        <script src="https://kit.fontawesome.com/98bd21cde9.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="logo">
                <a href="index.html"> <img class="logo-animal" src="../assets/img/logo.jpg" alt="Logo Animalanda"></a>
            </div>
            <div class="botones">
                <a href="login.html"><button class="b-azul"><i class="fa-solid fa-user-astronaut"></i>Ingresar</button></a> 
                <button class="b-morado"><i class="fa-solid fa-user-secret"></i>Registrar</button>
            </div>
        </header> 
    
        <nav>
            <a href="index.html" class="item">Home</a>
            <a href="equipo.html" class="item">Equipo</a>
            <a href="servicios.html" class="item">Servicios</a>
            <a href="agenda.html" class="item">Agenda</a>
            <a href="contacto.html"class="item">Contacto</a>
            <a href="tips.html"class="item">Tips mascotas</a>
        </nav>

        <main>
            <h1 class="tseccion"> Ubícanos </h1>
            <section id="map">
                <article class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29175.114352917655!2d-74.19300297631054!3d4.601027219887059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b4954a4142b%3A0xd78dda1e044dd0e0!2sAn%C3%ADmalandia%20Clinica%20veterinaria!5e0!3m2!1ses!2sco!4v1646406211771!5m2!1ses!2sco" ></iframe>
                </article>
            </section>

<section id="contact">
            <article class="info-contacto">
                <div class="men">
                <h3> <strong> Datos de contacto</strong></h3></div>

                <article class="info-con">
                    <div class="info">
                        <div >
                            <img src="../assets/img/map.svg" alt="Imagen de mapa">
                        </div>
                        <div class="datos">
                            <p><strong>Dirección</strong></p><p>Calle 22 # 18 - 15</p>
                        </div>
                    </div>

                    <div class="info">
                        <div>
                            <img src="../assets/img/phone.svg" alt="Imagen de teléfono">
                        </div>
                        <div>
                            <p><strong>Líneas de atención</strong> </p><p>333 222 1100 - (601) 444 5566 </p>
                        </div>
                    </div>

                    <div class="info">
                        <div>
                            <img src="../assets/img/gmail.svg" alt="Imagen de gmail">
                        </div>
                        <div>
                            <p><strong>Correo electrónico</strong></p> <p>animalandiapets@correo.com </p>
                        </div>
                    </div>

                    <div class="info">
                        <div>
                            <img src="../assets/img/horario.svg" alt="Imagen de horario">
                        </div>
                        <div>
                            <p><strong>Horario de atención</strong></p>
                            <p> Lunes a sábado  8:00am - 7:00pm </p>
                        </div>
                    </div>
    
                </article>

            </article>

            <article class="form-contacto">

                <h3> <strong> Tu opinión es importante para nosotros <span>¡Déjanos tu mensaje!</span></strong></h3>

                <form action="" method="post"  class="form">  

                    <div class="form-user">
                        <div class="form-group">
                            <label for="nombre" class="form-label"></label>
                            <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="correo electronico" class="form-label"></label>
                            <input type="email" name="correo" id="correo" placeholder="Ingresa tu correo electrónico" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="asunto" class="form-label"></label>
                        <input type="text" name="asunto" id="asunto" placeholder="Asunto" required>

                        <label for="mensaje"></label><br>
                        <textarea rows="7" cols="30" name="mensaje" required>Mensaje</textarea>
                    </div>

                    <div class="bton">
                    <button class="bton-form" type="submit">Enviar mensaje</button>
                </div>
                </form>
            </article>
        

        </main>

        <footer>
            <div class="box-footer">
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
    
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
            </div>
        </footer>

    </body>

</html>