<!DOCTYPE html>
<html lang="es-Es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
        <script src="https://kit.fontawesome.com/4c9db78ec9.js" crossorigin="anonymous"></script>
        <title>Servicios | Animalandia</title>
        <link type="image/x-icon" href="../assets/img/tips/icon-huella.svg" rel="icon">
    </head>

    <body>
        <header>
            <div class="logo">
                <a href="index.html"> <img class="logo-animal" src="../assets/img/logo.jpg" alt="Logo Animalanda"></a>>
            </div>
            <div class="botones">
                <a href="login.html"><button class="b-azul"><i class="fa-solid fa-user-astronaut"></i>Ingresar</button></a> 
                <button class="b-morado"><i class="fa-solid fa-user-secret"></i>Registrar</button>

                
            </div>
        </header> 
    
        <nav>
            <a href="index.html" class="item">Home</a>
            <a href="equipo.html" class="item">Equipo</a>
            <a href="servicios.html" class="item">Servicios</a>
            <a href="agenda.html" class="item">Agenda</a>
            <a href="contacto.html"class="item">Contacto</a>
            <a href="tips.html"class="item">Tips mascotas</a>
        </nav>

        <main>
            <section id="banner">
                <img src="../assets/img/banner.jpeg">
            </section>  
            
            <h1 class="tseccion">Nuestros Servicios</h1>
            
            <section id="services">
                
                <article class="service">
                    <div class="img-service">
                        <img src="../assets/img/vacuna.png" alt="Imagen vacuna"> </div>
                    <div>
                        <h3>Vacunación de mascotas</h3>
                        <p>Este servicio que se presta bajo chequeo clinico veterinario previo para un ciclo de vacunación completo de la mascota y medicación de acuerdo con la patología a tratar. Si su mascota tiene historial de vacunación (Carné de vacunación) se recomienda taerlo a la consulta para actualizar su historial clínico.</p>
                    </div>
                </article>

                <article class="service">
                    <div class="img-service">
                        <img src="../assets/img/laboratorio.png" alt="Imagen vacuna"> </div>
                    <div>
                        <h3>Laboratorio clínico</h3>
                        <p>Tenemos un amplio portafolio de servicios de análisis médicos en laboratorio para tu mascota, grantizando un mejor manejo del diagnóstico clínico.</p>
                    </div>
                </article>

                <article class="service">
                    <div class="img-service">
                        <img src="../assets/img/consultav.png" alt="Imagen vacuna"> </div>
                    <div>
                        <h3>Consulta Veterinaria</h3>
                        <p>Servicio de interconsultas con especialistas dependiendo de la patología a analizar para su posterior tratamiento.</p>
                    </div>
                </article>

                <article class="service">
                    <div class="img-service">
                        <img src="../assets/img/banio.png" alt="Imagen vacuna"> </div>
                    <div>
                        <h3>Estética de las mascotas</h3>
                        <p>Tenemos un amplio portafolio de servicios estéticos para las mascotas, baño, profilaxis, peluquería.</p>
                    </div>
                </article>

            </section>
        </main>


        <footer>
            <div class="box-footer">
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="Banner de servicios">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
    
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
            </div>
        </footer>

    </body>

</html>