<!DOCTYPE html>
<html lang="es-Es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
        <title>Animalandia | Tips de gatitos</title>
        <link type="image/x-icon" href="../assets/img/tips/icon-huella.svg" rel="icon">
        <script src="https://kit.fontawesome.com/98bd21cde9.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="logo">
                <a href="index.html"> <img class="logo-animal" src="../assets/img/logo.jpg" alt="Logo Animalanda"></a>
            </div>
            <div class="botones">
                <a href="login.html"><button class="b-azul"><i class="fa-solid fa-user-astronaut"></i>Ingresar</button></a> 
                <button class="b-morado"><i class="fa-solid fa-user-secret"></i>Registrar</button>
            </div>
        </header> 
    
        <nav>
            <a href="index.html" class="item">Home</a>
            <a href="equipo.html" class="item">Equipo</a>
            <a href="servicios.html" class="item">Servicios</a>
            <a href="agenda.html" class="item">Agenda</a>
            <a href="contacto.html"class="item">Contacto</a>
            <a href="tips.html"class="item">Tips mascotas</a>
        </nav>

        <main>
            
            <section class="container-michis">
                <div class="container-box-michis">
                    <div class="box0">
                        <a href="../views/Tips-mascotas/alimentacion-kitty.html">
                        <h4 class="title">Alimentación</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="background-hover"></div></a>
                    </div>
                    <div class="box1">
                        <a href="../views/Tips-mascotas/higiene-kitty.html">
                        <h4 class="title">Higiene</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <div class="background-hover"></div></a>
                    </div>
                    <div class="box2">
                        <a href="../views/Tips-mascotas/diversion-kitty.html">
                        <h4 class="title">Diversión</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <div class="background-hover"></div></a>
                    </div>
                    <div class="box3">
                        <a href="../views/Tips-mascotas/kitty-agresivo.html">
                        <h4 class="title">Mi gato agresivo </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <div class="background-hover"></div></a>
                    </div>
                </div>
            </section>
    
            
            <section id="sabias">
                <h1>¿Sabías que...?</h1>

                <div class="tip">
                    <p>Los estudios demuestran que las personas con animales de compañía suelen estar más sanas y felices que aquellas que no los tienen, además, sabemos lo maravilloso que es volver a casa al final de un duro día y escuchar el ronroneo de satisfacción de una adorable bola de pelo; es por ello que no tenemos duda de que los gatos son grandes mascotas, pero también una gran responsabilidad y un compromiso de por vida.</p>
                    <img src="../assets/img/sabias-que.svg" alt="Imagen de cerebro pensando - sección sabías qué"></div>
            </div>
            </section>

            <section id="cont-cards-michis">
            <h2>Artículos destacados</h2>
            <div class="container-cards">
       
                <div class="card">
                    <img src="../assets/img/tips/cat-play.jpg">
                    <div class="title-card">
                        <h5>Diversión para gatos</h5>
                        <h4>juego de gatos</h4>
                    </div>
                    <div class="info-card">
                        <p>Antes de alarmarte o angustiarse lo primero debes entender es que el juego favorito de los gatos es “jugar a cazar” por lo que se empujan con las patas, se muerden y se abalanzan uno sobre el otro. Adicionalmente, a los gatos les gusta explorar los límites, por ejemplo: muerden a su compañero un poco, si este...</p>
                        
                    </div><a href="#">Leer más</a>
                </div>
                
                <div class="card">
                    <img src="../assets/img/tips/cat-arenero.jpg">
                    <div class="title-card">
                        <h5>Higiene para gatos</h5>
                        <h4>Elegir el arenero ideal para mi gato</h4>
                    </div>
                    <div class="info-card">
                        <p>Debe ser proporcional al tamaño del gato, es decir, si el mirringo puede dar una vuelta completa dentro del recipiente, entrar y salir de un solo salto, ¡es el arenero perfecto! Pero si tienes más de un gato y deben compartirlo, lo ideal es que sea un poco más grande. Debes tener en cuenta el tamaño de ambos gatos y la edad, por ejemplo, un pequeño...</p>
                        
                    </div><a href="#">Leer más</a>
                </div>
                
                <div class="card">
                    <img src="../assets/img/tips/cat-alimento.jpg">
                    <div class="title-card">
                        <h5>Alimentación para gatos</h5>
                        <h4>Top 5 alimentos tóxicos para gatos</h4>
                    </div>
                    <div class="info-card">
                        <p>Algunos alimentos de consumo humano causan en los mininos problemas gastrointestinales y, en el peor de los casos, intoxicaciones y la muerte de la mascota.</p>
                        <ul>
                            <li>Leche y productos lácteos</li>
                            <li>Uvas y pasas</li>
                            <li>Cervezas, vinos, energizantes y café</li>
                            
                        </ul>
                        
                    </div><a href="#">Leer más</a>
                </div>

                <div class="card">
                    <img src="../assets/img/tips/cat-bad.jpg">
                    <div class="title-card">
                        <h5>Mi gato agresivo</h5>
                        <h4>¿Por qué mi gato tira cosas al suelo?</h4>
                    </div>
                    <div class="info-card">
                        <p>En ocasiones nos hemos dado cuenta que los felinos, suelen tener una gatonalidad (personalidad) no muy agradable. Así que ellos no van a querer esquivar nada, lo primero que hacen es tirar algo que les estorbe y nos los deje seguir su camino, sin importar que algún objeto haya caído.</p>

                    </div><a href="#">Leer más</a>
                    
                </div>
                
            </div>


        </main>

        <footer>
            <div class="box-footer">
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
    
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
            </div>

        
        </footer>

    </body>

</html>