<!DOCTYPE html>
<html lang="es-Es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
        <title>Animalandia | Tips de mascotas</title>
        <link type="image/x-icon" href="../assets/img/tips/icon-huella.svg" rel="icon">
        <script src="https://kit.fontawesome.com/98bd21cde9.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="logo">
                <a href="index.html"> <img class="logo-animal" src="../assets/img/logo.jpg" alt="Logo Animalanda"></a>
            </div>
            <div class="botones">
                <a href="login.html"><button class="b-azul"><i class="fa-solid fa-user-astronaut"></i>Ingresar</button></a> 
                <button class="b-morado"><i class="fa-solid fa-user-secret"></i>Registrar</button>
            </div>
        </header> 
    
        <nav>
            <a href="index.html" class="item">Home</a>
            <a href="equipo.html" class="item">Equipo</a>
            <a href="servicios.html" class="item">Servicios</a>
            <a href="agenda.html" class="item">Agenda</a>
            <a href="contacto.html"class="item">Contacto</a>
            <a href="tips.html"class="item">Tips mascotas</a>
        </nav>

        <main>
            <section id="doggy">
                <div class="bg">
                    <a href="tips-perritus.html">
                        <div>
                            <p>Obtenga las novedades más recientes, tips, historiasy consejos para perros <span>justo aquí</span></p>
                            <img src="../assets/img/Perritu.png" alt="">
                            <p>CUIDADO DE LOS PERROS</p>
                        </div>
                    </a>
                </div>
            </section>
            <section id="doggy">
                <div class="bg-cat">
                    <a href="tips-michis.html">
                        <div>
                            <p>Obtenga las novedades más recientes, tips, historias y consejos para gatos <span>justo aquí</span></p>
                            <img src="../assets/img/Gatitu.png" alt="">
                            <p>CUIDADO DE LOS GATOS</p>
                        </div>
                    </a>
                </div>
            </section>

        </main>

        <footer>
            <div class="box-footer">
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
    
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
            </div>
        </footer>

    </body>

</html>