<!DOCTYPE html>
<html lang="es-Es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
        <title>Animalandia | Tips de perritos</title>
        <link type="image/x-icon" href="../assets/img/tips/icon-huella.svg" rel="icon">
        <script src="https://kit.fontawesome.com/98bd21cde9.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="logo">
                <a href="index.html"> <img class="logo-animal" src="../assets/img/logo.jpg" alt="Logo Animalanda"></a>
            </div>
            <div class="botones">
                <a href="login.html"><button class="b-azul"><i class="fa-solid fa-user-astronaut"></i>Ingresar</button></a> 
                <button class="b-morado"><i class="fa-solid fa-user-secret"></i>Registrar</button>
            </div>
        </header> 
    
        <nav>
            <a href="index.html" class="item">Home</a>
            <a href="equipo.html" class="item">Equipo</a>
            <a href="servicios.html" class="item">Servicios</a>
            <a href="agenda.html" class="item">Agenda</a>
            <a href="contacto.html"class="item">Contacto</a>
            <a href="tips.html"class="item">Tips mascotas</a>
        </nav>

        <main>
            
            <section class="container-all">
                <div class="container-box">
                    <div class="box0">
                        <a href="../views/Tips-mascotas/alimentacion-doggy.html">
                        <h4 class="title">Alimentación</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="background-hover"></div></a>
                    </div>
                    <div class="box1">
                        <a href="../views/Tips-mascotas/higiene-doggy.html">
                        <h4 class="title">Higiene</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <div class="background-hover"></div></a>
                    </div>
                    <div class="box2">
                        <a href="../views/Tips-mascotas/diversion-doggy.html">
                        <h4 class="title">Diversión</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <div class="background-hover"></div></a>
                    </div>
                    <div class="box3">
                        <a href="../views/Tips-mascotas/caminata-doggy.html">
                        <h4 class="title"> Caminatas </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <div class="background-hover"></div></a>
                    </div>
                </div>
            </section>
    
            
            <section id="sabias">
                <h1>¿Sabías que...?</h1>

                <div class="tip">
                    <p>El contacto con un perro, con el cual se ha establecido un vínculo afectivo, hace que liberemos oxitocina, la hormona relacionada con el placer. También se reducen los niveles de cortisol en la sangre, cindicador fisiológico del estrés y aumentan el nivel de endorfinas, un péptido que funciona como un neurotransmisor y que son las responsables de la sensación de bienestar. Más allá de estos visibles beneficios, también el ritmo cardíaco se ve reducido y se fomenta la reducción de la presión arterial.</p>
                    <img src="../assets/img/sabias-que.svg" alt="Imagen de cerebro pensando - sección sabías qué"></div>
            </div>
            </section>

            <section id="cont-cards">
            <h2>Artículos destacados</h2>
            <div class="container-cards">
       
                <div class="card">
                    <img src="../assets/img/dog-play.jpg">
                    <div class="title-card">
                        <h5>Diversión para perros</h5>
                        <h4>5 juegos para perros para entretenerlos en casa</h4>
                    </div>
                    <div class="info-card">
                        <p>Sabemos que jugar o salir con tu perro algunas veces puede resultar más complicado de lo esperado, pero no debes olvidar lo importante que es mantenerlo activo.</p>
                        
                    </div><a href="#">Leer más</a>
                </div>
                
                <div class="card">
                    <img src="../assets/img/caminata.jpg">
                    <div class="title-card">
                        <h5>Caminata para perros</h5>
                        <h4>¿Cómo limpiar las patas de mi perro al regresar de la calle?</h4>
                    </div>
                    <div class="info-card">
                        <p>Algunas actividades son necesarias para mantener un estado óptimo de salud física y mental de tu perro y, aunque se puedan ver complicadas, éstas no deberían de detenerse.</p>
                        
                    </div><a href="#">Leer más</a>
                </div>
                
                <div class="card">
                    <img src="../assets/img/dog-brushed.jpg">
                    <div class="title-card">
                        <h5>Higiene para perros</h5>
                        <h4>Cepillado diario como rutina</h4>
                    </div>
                    <div class="info-card">
                        <p>No debemos olvidar que es importante que en casa haya una tarea de mantenimiento constante. Para ello, los cepillados diarios después del paseo se convierten en una tarea imprescindible, ya que quitan mucho polvo y suciedad.</p>
                        
                    </div><a href="#">Leer más</a>
                </div>

                <div class="card">
                    <img src="../assets/img/dog-food.jpg">
                    <div class="title-card">
                        <h5>Alimentación para perros</h5>
                        <h4>Respeta sus transiciones alimentarias</h4>
                    </div>
                    <div class="info-card">
                        <p>Si, por cualquier motivo, cambias un alimento por otro, es recomendable que lo hagas poco a poco y progresivamente. Dosifica ambos productos durante una semana y ve aumentando la dosis del nuevo alimento hasta cambiarlo por completo.</p>
                        
                    </div><a href="#">Leer más</a>
                </div>
                
            </div>

        </section>

        </main>

        <footer>
            <div class="box-footer">
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
    
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
            </div>

        
        </footer>

    </body>

</html>