<!DOCTYPE html>
<html lang="es-Es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../assets/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
        <title>Animalandia | Perros-Higiene</title>
        <link type="image/x-icon" href="../assets/img/tips/icon-huella.svg" rel="icon">
        <script src="https://kit.fontawesome.com/98bd21cde9.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="logo">
                <img src="../../assets/img/logo.jpg" alt="Logo Animalandia">
            </div>
            <div class="botones">
                <a href="login.html"><button class="b-azul"><i class="fa-solid fa-user-astronaut"></i>Ingresar</button></a> 
                <button class="b-morado"><i class="fa-solid fa-user-secret"></i>Registrar</button>
            </div>
        </header> 
    
        <nav>
            <a href="../index.html" class="item">Home</a>
            <a href="../equipo.html" class="item">Equipo</a>
            <a href="../servicios.html" class="item">Servicios</a>
            <a href="../agenda.html" class="item">Agenda</a>
            <a href="../contacto.html"class="item">Contacto</a>
            <a href="../tips.html"class="item">Tips mascotas</a>
        </nav>

        <main id="dog-feeding">
    
            <section id="banner">
                <img class="imbanner" src="../../assets/img/tips/banner-higiene.svg" alt="">
            </div>
            </section>
        
        <section id="tips-feeding">
            <section id="art-destac">
                <h2>Artículos destacados</h2>
                <div class="container-cards">
           
                    <div class="card">
                        <img src="../../assets/img/dog-play.jpg">
                        <div class="card-h5">
                            <a href=""><h5>Diversión para perros</h5></a>
                        </div>
                        <div class="card-h4">
                            <h4>5 juegos para perros para entretenerlos en casa</h4>
                        </div>
                    </div>
                    
                    <div class="card">
                        <img src="../../assets/img/caminata.jpg">
                        <div class="card-h5">
                            <a href=""><h5>Caminata para perros</h5></a></div>
                        <div class="card-h4">
                            <h4>¿Cómo limpiar las patas de mi perro al regresar de la calle?</h4>
                        </div>
                    </div>
                    
                    <div class="card">
                        <img src="../../assets/img/dog-brushed.jpg">
                        <div class="card-h5">
                            <a href=""><h5>Higiene para perros</h5></a>
                        </div>
                        <div class="card-h4">
                            <h4>Cepillado diario como rutina</h4>
                        </div>
                    </div>
    
                    <div class="card">
                        <img src="../../assets/img/dog-food.jpg">
                        <div class="card-h5">
                            <a href=""><h5>Nutrición para perros</h5></a>
                        </div>
                        <div class="card-h4">
                            <h4>Respeta sus transiciones alimentarias</h4>
                        </div>
                    </div>
                </div>
            </section>

            <section id="articles-feeding">
                <h1>Aspectos a considerar en la higiene de nuestros peluditos</h1>
                <article class="artic">
                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora necessitatibus minus accusamus laborum, nihil numquam maiores eveniet itaque nisi, modi dolor consectetur mollitia voluptas praesentium eaque eligendi quibusdam eum pariatur.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur perferendis quasi nam aliquam tempora inventore minus delectus repellat, unde eveniet voluptate, incidunt quo! Tempora harum ea maxime exercitationem, nulla eum!</p>
                </article>

                <article class="artic">
                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora necessitatibus minus accusamus laborum, nihil numquam maiores eveniet itaque nisi, modi dolor consectetur mollitia voluptas praesentium eaque eligendi quibusdam eum pariatur.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur perferendis quasi nam aliquam tempora inventore minus delectus repellat, unde eveniet voluptate, incidunt quo! Tempora harum ea maxime exercitationem, nulla eum!</p>
                </article>

                <article class="artic">
                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora necessitatibus minus accusamus laborum, nihil numquam maiores eveniet itaque nisi, modi dolor consectetur mollitia voluptas praesentium eaque eligendi quibusdam eum pariatur.</p>
                </article>

                <article class="artic">
                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur perferendis quasi nam aliquam tempora inventore minus delectus repellat, unde eveniet voluptate, incidunt quo! Tempora harum ea maxime exercitationem, nulla eum!</p>
                </article>

                <article class="artic">
                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora necessitatibus minus accusamus laborum, nihil numquam maiores eveniet itaque nisi, modi dolor consectetur mollitia voluptas praesentium eaque eligendi quibusdam eum pariatur.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur perferendis quasi nam aliquam tempora inventore minus delectus repellat, unde eveniet voluptate, incidunt quo! Tempora harum ea maxime exercitationem, nulla eum!</p>
                </article>

                <article class="consulta">
                    <h3>En caso de duda, consulta a tu veterinario</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et veritatis voluptates accusamus at doloribus qui, similique eligendi delectus! Tenetur rem dolorem praesentium quis vitae, architecto suscipit. Optio blanditiis sapiente in.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio debitis error perferendis molestiae, nulla nam sed porro aspernatur laborum deserunt autem, fugit adipisci, rem tempore aut ad facilis veniam ex?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo explicabo eligendi quidem, error quae dolor quibusdam at odit officia magnam autem soluta facilis debitis rem maiores, eaque, iure facere repellendus?</p>
                    <p><span>¡Ahora que ya sabes cómo abordar higiene a tu perro correctamente, es el momento de cuidarle!</span></p>
                </article>

            </section>

        </section>
        </main>

        <footer>
            <div class="box-footer">
                <div class="foot">
                    <img src="../../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
                <div class="foot">
                    <img src="../../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
    
                <div class="foot">
                    <img src="../../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
            </div>

        
        </footer>

    </body>

</html>